:root {
    --cassette-7-neon: rgb(242, 21, 150);
}

.cassette-cont{
    position: relative;
}

.list-element {
    margin: 100px 0;
    margin-left: 160px;
}

.cassette{
    position: relative;
    width: 214px;
    height: 136px;
    image-rendering: pixelated;
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
}

.song-title{
    width: 66%;
    height: 20px;
    position: absolute;
    font-family: 'pixelmaster', sans-serif;
    font-size: 24px;
    left: 42px;
    top: 20px;
    letter-spacing: 1px;
    text-align: center;
    image-rendering: auto;
}

.remove-button{
    position: absolute;
    width: 0px;
    height: 60%;
    left: 0px;
    top: 20%;
    image-rendering: auto;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: all .4s;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 0px;
    transform-origin: right;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
}

.remove-button-img{
    image-rendering: pixelated;
    background-image: url(/icon/close-pixel.png);
    width: 32px;
    height: 32px;
    filter: invert(100);
}

.cassette:hover + .remove-button{
    opacity: 1;
    visibility: visible;
    left: -50px;
    width: 50px;
}

.remove-button:hover{
    opacity: 1;
    visibility: visible;
    left: -50px;
    width: 50px;
}

.on-dragging{
    transition: transform .1s ease;
}

/* estilos para cada cassette elegible */

.cassette-1{
    background-image: url('../assets/sprites/cassettes/cassette-1.png');
    color: black;
}

.cassette-2{
    background-image: url('../assets/sprites/cassettes/cassette-2.png');
    color: white;
    text-shadow: 0px 0px 10px rgb(17, 255, 255), 0px 0px 10px rgb(17, 255, 255);
}

.cassette-3{
    background-image: url('../assets/sprites/cassettes/cassette-3.png');
    color: black;
}

.cassette-4{
    background-image: url('../assets/sprites/cassettes/cassette-4.png');
    color: white;
}

.cassette-5{
    background-image: url('../assets/sprites/cassettes/cassette-5.png');
    color: black;
}

.cassette-6{
    background-image: url('../assets/sprites/cassettes/cassette-6.png');
    color: black;
}

.cassette-7{
    background-image: url('../assets/sprites/cassettes/cassette-7.png');
    color: white;
    text-shadow: 
    1px 0px 2px var(--cassette-7-neon),
    0px 1px 2px var(--cassette-7-neon),
    -1px 0px 2px var(--cassette-7-neon),
    0px -1px 2px var(--cassette-7-neon);
}

.cassette-8{
    background-image: url('../assets/sprites/cassettes/cassette-8.png');
    color: white;
}

.cassette-9{
    background-image: url('../assets/sprites/cassettes/cassette-9.png');
    color: rgb(252, 252, 252);
    text-shadow: -1px 0px 3px rgb(64, 200, 240), 1px 0px 3px rgb(64, 200, 240);
}

.cassette-10{
    background-image: url('../assets/sprites/cassettes/cassette-10.png');
    color: rgb(10, 88, 142);
}


@media (max-width: 719px){

    
}

@media (max-width: 719px){

    .cassette-cont{
        scale: .7;
    }

    
    
    .list-element{
        display: inline-block;
        margin: 0px;
    }

   
    
}

@media (min-width: 720px) and (max-width:1299px){

   
    .list-element{
        display: inline-block;
        margin: 10px 0;
        margin-left: 90px;
    }

    .cassette:hover + .remove-button{
        left: -60px;
        width: 70px;
    }

    .remove-button:hover{
        left: -60px;
        width: 70px;
    }
}

@media (min-width: 1300px) and (max-width: 1919px){
    .cassette-cont{
        scale: .9;
    }

    .list-element {
        margin: 100px 0;
        margin-left: 70px;
    }

}


@media (min-width: 1920px){
  .cassette-cont{
    scale: 1.3;
  }
}