.sprite-rendering{
    image-rendering: pixelated;
}

.container-walkman{
    min-height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.walkman-body{
    position: relative;
    background-image: url(../assets/sprites/walkman-body.png);
    width: 812px;
    height: 528px;
    z-index: 5;
    user-select: none;
    right: 50px;
}

.capstan{
    position: absolute;
    background-image: url(../assets/sprites/capstan-spritesheet.png);
    width: 292px;
    height: 72px;
    left: 200px;
    top: 136px;
    z-index: 10;
}

.container-door{
    position: absolute;
    width: 592px;
    height: 580px;
    left: 0px;
    bottom: 232px;
    z-index: 15;
}

.door-colision{
    position: absolute;
    width: 592px;
    height: 180px;
    left: 0px;
    top: -260px;
    z-index: 15;
}

.cassette-door{
    position: absolute;
    background-image: url(../assets/sprites/cassette-door.png);
    width: 592px;
    height: 296px;
    left: 0px;
    bottom: 0px;
    z-index: 15;
    pointer-events: all;
    cursor: pointer;
    transition: all .3s linear;
}

.cassette-door-open{
    bottom: 276px;
}

.buttons{
    position: absolute;
    pointer-events: all;
    cursor: pointer;
    z-index: 20;
    background-repeat: no-repeat;
    overflow: hidden;
}

.play-button{
    background-image: url(../assets/sprites/play-button.png);
    width: 116px;
    height: 52px;
    right: 176px;
    bottom: 8px;
}

.rewind-button{
    background-image: url(../assets/sprites/rewind-button.png);
    width: 160px;
    height: 32px;
    right: 140px;
    bottom: 84px;
}

.pause-button{
    background-image: url(../assets/sprites/pause-button.png);
    width: 84px;
    height: 32px;
    right: 40px;
    bottom: 84px;
}

.controls-buttons{
    background-image: url(../assets/sprites/controls-buttons.png);
    width: 84px;
    height: 48px;
    right: 52px;
    bottom: 12px;
}

.cont-volume-button{
    position: absolute;
    width: 118px;
    height: 36px;
    left: 244px;
    bottom: 32px;
    z-index: 20;
    align-content: center;
    text-align: center;
}

.volume-button{
    pointer-events: all;
}

.rc-slider-handle{
    background-image: url(../assets/sprites/volume-button.png);
    background-color: #ffffff00;
    bottom: -7px;
}

.rc-slider-handle:focus {
    outline: none;
    box-shadow: none;
}

.button-press{
    background-position: 0px -8px;
    filter: brightness(.7);
    border-top: 4px solid rgba(0, 0, 0, .5);
    pointer-events: none;
}

.no-events{
    cursor: pointer;
    pointer-events: none;
}

.reproducer{
    width: 0px;
    height: 0px;
    position: absolute;
}

.walkman-meal-decoration{
    position: absolute;
    background-image: url(../assets/sprites/walkman-deco-meal.png);
    width: 852px;
    height: 532px;
    left: -56px;
    top: 29px;
    z-index: 10;
    pointer-events: none;
}

.cassette-actual{
    position: absolute;
    width: 214px;
    height: 136px;
    left: -300px;
    bottom: 160px;
    background-image: url(../assets/sprites/cassette.png);
    scale: 2;
    transform-origin: bottom left;
    animation:  2.5s forwards;
    z-index: 50;
} 

.cassette-animation-name{
    animation-name: cassette-animation;
}


@keyframes cassette-animation{
    
    0%{
        opacity: 0;
        transform: translate(0);
    }

    30%{
        opacity: 1;
        transform: translateX(216px);
    }

    50%{
        transform: translate(216px, 80px);
    }
    
    100%{
        transform: translate(216px, 80px);
        z-index: 10;
        
    }
    
}

