*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.container-app{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.background{
  background-image: url(./assets/sprites/meal-background.png);
  background-repeat: repeat;
  image-rendering: pixelated;
  user-select: none;
}

.border-deco{
  position: absolute;
  width: 100%;
  height: 148px;
  background-repeat: repeat-x;
  pointer-events: none;
  z-index: 2;
}

.border-top{
  background-image: url(./assets/sprites/border-deco-top.png);
  left: 0px;
  top: 0px;
}

.border-bottom{
  background-image: url(./assets/sprites/border-deco-bottom.png);
  left: 0px;
  bottom: 0px;
}

.block-portrait{
  display: none;
  font-family: 'SF Pixelate', sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 100;
}

@media (max-width: 719px){

  .container-app{
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100vh;
  }

  .background{
    background-image: url(./assets/sprites/meal-background-movil.png);
  }

  .border-deco{
    height: 74px;
  }

  .border-top{
    background-image: url(./assets/sprites/border-deco-top-movil.png);
  }
  
  .border-bottom{
    background-image: url(./assets/sprites/border-deco-bottom-movil.png);
  }
}

@media (min-width: 720px) and (max-width:1299px){

  

  .container-app{
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100vh;
  }
}

@media (min-width: 1300px) and (max-width: 1919px){
  .border-deco{
    height: 74px;
  }

  .border-top{
    background-image: url(./assets/sprites/border-deco-top-movil.png);
  }
  
  .border-bottom{
    background-image: url(./assets/sprites/border-deco-bottom-movil.png);
  }
}

@media (max-width: 1200px) and (orientation: landscape) and (max-height: 800px) {
  .block-portrait{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-walkman{
    display: none !important;
  }

  .list-container{
    display: none !important;
  }
}